.body{
  text-decoration: none;

}
*{
    text-decoration: none;
    list-style-type: none;
}


.quiz-box{

    height: 700px;
    width: 700px;
    position:relative;
    background: #94bbe9;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}
.quix-txt{
    margin: 20px;
    padding-top: 20px;
    text-align: center;
}
.quix-txt h1{
    padding: 10px;
    font-size: 40px;
    font-weight: 800;
    color: blue;

}
.button-46 {
  margin-left: 50px;
    align-items: center;
    background-color: rgba(240, 240, 240, 0.26);
    border: 1px solid #DFDFDF;
    border-radius: 16px;
    box-sizing: border-box;
    color: #000000;
    cursor: pointer;
    display: flex;
    font-family: Inter, sans-serif;
    font-size: 18px;
    line-height: 28px;
    max-width: 70%;
    padding: 14px 22px;
    text-decoration: none;
    transition: all .2s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    width: 70%;
  }
  
  .button-46:active,
  .button-46:hover {
    outline: 0;
  }
  
  .button-46:hover {
    background-color: #FFFFFF;
    border-color: rgba(0, 0, 0, 0.19);
  }
  
  @media (min-width: 768px) {
    .button-46 {
      font-size: 20px;
      min-width: 200px;
      padding: 14px 16px;
    }
  }
  /* next button start here */
  /* CSS */
  .nxt-btn{
    align-items: center;!important
  }
.button-19 {

    appearance: button;
    background-color: #1899D6;
    border: solid transparent;
    border-radius: 16px;
    border-width: 0 0 4px;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-family: din-round,sans-serif;
    font-size: 15px;
    font-weight: 700;
    letter-spacing: .8px;
    line-height: 20px;
    margin: 0;
    outline: none;
    overflow: visible;
    padding: 13px 16px;
    text-align: center;
    text-transform: uppercase;
    touch-action: manipulation;
    transform: translateZ(0);
    transition: filter .2s;
    user-select: none;
    -webkit-user-select: none;
    vertical-align: middle;
    white-space: nowrap;
    width: 30%;
  }
  
  .button-19:after {
    background-clip: padding-box;
    background-color: #1CB0F6;
    border: solid transparent;
    border-radius: 16px;
    border-width: 0 0 4px;
    bottom: -4px;
    content: "";
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    z-index: -1;

    /*  */

  }
 */
  
  .button-19:main,
  .button-19:focus {
    user-select: auto;
  }
  
  .button-19:hover:not(:disabled) {
    filter: brightness(1.1);
    -webkit-filter: brightness(1.1);
  }
  
  .button-19:disabled {
    cursor: auto;
  }
  
